<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="" logWarningsWhenNoCategoriesMatch="true">
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Text Formatter" />
    </formatters>
    <logFilters>
      <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Response">
        <categoryFilters>
          <add name="Response" />
        </categoryFilters>
      </add>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="GenericLoggingCategory" />
      <add switchValue="All" name="Response" />
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="GenericExceptionPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add logCategory="GenericLoggingCategory" eventId="100" severity="Error"
                title="Servicios Administracion Control" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                priority="4" useDefaultLogger="false" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Logging Exception" />
            </exceptionHandlers>
          </add>
          <add type="System.Threading.ThreadAbortException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="NotifyRethrow" name="ThreadAbortException">
            <exceptionHandlers>
              <add logCategory="Response" eventId="100" severity="Error" title="Enterprise Library Exception Handling"
                formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                priority="0" useDefaultLogger="false" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="Logging Response" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <connectionStrings>
    <add name="SIGAPred.FuentesExternas.Isai.Services.Properties.Settings.ConnectionString"
      connectionString="DATA SOURCE=10.1.253.125:1521/Precat;PASSWORD=fexnot;PERSIST SECURITY INFO=True;USER ID=FEXNOT"
      providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="ServicioFUTuser" value="not190"/>
    <add key="ServicioFUTpwd" value="1a3befcd517b9f24d628cd41d8672100"/>
    <add key="ServicioFUTclave" value="92"/>
    <add key="SIGAPred.FuentesExternas.Isai.ExceptionPolicy" value="GenericExceptionPolicy"/>
     <add key="MargenError" value="0.1"/>
  </appSettings>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicesBinding" />
        <binding name="ServicesBinding1" />
        <binding name="ServicesBinding2" />
        <binding name="lineaCapturaGenWs_secureServerBinding" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsBindingConfiguration" closeTimeout="10:00:00"
          openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00"
          maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="ExceptionBindingConfiguration" maxBufferPoolSize="924288"
          maxReceivedMessageSize="95536">
          <readerQuotas maxNameTableCharCount="26384" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WsHttp" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IConsultaCatastralService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IRegistroContribuyentes">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service behaviorConfiguration="SIGAPred.FuentesExternas.Isai.Services.Negocio.DeclaracionIsaiBehavior"
        name="SIGAPred.FuentesExternas.Isai.Services.Negocio.DeclaracionIsai">
        <endpoint address="" binding="wsHttpBinding"
          bindingConfiguration="wsBindingConfiguration" name="DeclaracionIsai"
          bindingName="wsHttpDeclaracionIsai" contract="SIGAPred.FuentesExternas.Isai.Services.Negocio.Interfaces.IDeclaracionIsai"/>
        <endpoint address="mex" binding="mexHttpBinding"
           name="MexDeclaracionIsai"
          bindingName="mexDeclaracionIsai" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/SIGAPred.FuentesExternas.Isai.Services/DeclaracionIsai/" />
          </baseAddresses>
        </host>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SIGAPred.FuentesExternas.Isai.Services.Negocio.DeclaracionIsaiBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
 <!--<behavior name="SIGAPred.FuentesExternas.Isai.Services.Negocio.PeritosBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>-->
      </serviceBehaviors>
    </behaviors>
    <!--<client>
     JABS - Endpoints
      <endpoint address="http://10.1.253.88/PRE/Excepciones/Excepcion.svc"
        binding="wsHttpBinding" bindingConfiguration="ExceptionBindingConfiguration"
        contract="WCFExcepciones.IExcepciones" name="wsHttpExcepciones" />
      <endpoint address="http://10.1.253.88/PRE/Catastral/Consulta/ConsultaCatastralService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConsultaCatastralService"
        contract="ServiceCatastral.IConsultaCatastralService" name="WSHttpBinding_IConsultaCatastralService" />
      <endpoint address="http://10.1.253.88/PRE/Fiscal/Emision/Emision.svc"
        binding="wsHttpBinding" bindingConfiguration="WsHttp" contract="ServiceFiscalEmision.IEmision"
        name="WsHttp" />
      <endpoint address="http://10.1.253.88/PRE/RegistroContribuyentes/RegistroContribuyentesService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConsultaCatastralService"
        contract="ServiceRCON.IRegistroContribuyentes" name="WSHttpBinding_IConsultaCatastralService" />
      <endpoint address="http://10.1.65.9/formato_lc/notarios/isai_ws_prueba/isai_ws_server.php"
        binding="basicHttpBinding" bindingConfiguration="ServicesBinding"
        contract="ServiceFUT.ServicesPortType" name="ServicesPort" />
    </client>-->
      <client>
          <endpoint address="http://10.1.65.9/formato_lc/notarios/isai_ws_prueba/isai_ws_server.php"
              binding="basicHttpBinding" bindingConfiguration="ServicesBinding"
              contract="ServiceFUT.ServicesPortType" name="ServicesPort" />
          <endpoint address="http://10.0.8.2/PRO/Catastral/Consulta/ConsultaCatastralService.svc"
              binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConsultaCatastralService"
              contract="ServiceCatastral.IConsultaCatastralService" name="WSHttpBinding_IConsultaCatastralService" />
          <endpoint address="http://10.0.8.2/PRO/Fiscal/Emision/Emision.svc"
              binding="wsHttpBinding" bindingConfiguration="WsHttp" contract="ServiceFiscalEmision.IEmision"
              name="WsHttp" />
          <endpoint address="http://10.0.8.2/PRO/RegistroContribuyentes/RegistroContribuyentesService.svc"
              binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRegistroContribuyentes"
              contract="ServiceRCON.IRegistroContribuyentes" name="WSHttpBinding_IRegistroContribuyentes" />
          <endpoint address="http://10.1.78.2/formato_lc/LineaCaptura_WS/GeneralLC/lineaCapturaGenWs_secureServer.php"
              binding="basicHttpBinding" bindingConfiguration="ServicesBinding"
              contract="ServiceLC.ServicesPortType" name="ServicesPort1" />
          <endpoint address="http://10.1.78.2/formato_lc/LineaCaptura_WS/GeneralLC/lineaCapturaGenWs_secureServer.php"
              binding="basicHttpBinding" bindingConfiguration="ServicesBinding1"
              contract="ServiceLC.ServicesPortType" name="ServicesPort2" />
          <endpoint address="http://10.1.78.2/fut/LineaCaptura_WS/GeneralLC/lineaCapturaGenWs_secureServer.php"
              binding="basicHttpBinding" bindingConfiguration="ServicesBinding2"
              contract="ServiceLC1.ServicesPortType" name="ServicesPort3" />
          <endpoint address="http://10.1.198.170/fut/public/lineaCapturaGenWs_secureServer"
              binding="basicHttpBinding" bindingConfiguration="lineaCapturaGenWs_secureServerBinding"
              contract="ServiceLC2.lineaCapturaGenWs_secureServerPortType"
              name="lineaCapturaGenWs_secureServerPort" />
      </client>
  </system.serviceModel>
</configuration>



